.posts-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
}

.posts {
    padding: 80px 30px;
    margin: auto;
    width: 85%;
    color: #485564;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.posts > h1 {
    font-size: 3.75em;
    padding: 0px 0px 20px;
}

.post {
    background: #bbdefb;
    font-family: 'Quicksand', sans-serif;
}

.post > h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    padding: 20px 0px 15px;
}

.post > p {
    padding: 10px 0px;
}
