.posts-wrapper {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
}

.posts {
    padding: 3em 1% 0px;
    margin: auto;
    width: 95%;
    color: #485564;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.posts h1 {
    font-size: 4em;
    font-weight: 300;
}

.post {
    background: #e6edf2;
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.75em;
    padding: 1em 2em 1.5em;
    margin: 2em;
    border-radius: 2em;
    transition: 0.3s;
}

.post:hover {
    background: #dae6ee;
}

.post>h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    transition: 0.4s;
}

.post p {
    padding: 1em 0 0;
    font-weight: 300;
}

.post>a {
    text-decoration: inherit;
    color: inherit;
}

.post>h2:hover {
    color: #64a2bf;
}

.post>h2>a {
    text-decoration: inherit;
    color: inherit;
}

.continue-button-wrapper {
    padding: 1.5em 0 0;
    width: 100%;
}

.continue-button {
    text-decoration: inherit;
    color: inherit;
    padding: 0.25em 0.7em;
    border: 1px solid;
    border-radius: 1em;
    transition: 0.3s;
}

.continue-button:hover {
    background: #64a2bf;
    color: #FAFAFA;
    border: 0 solid;
}

.posts-content {
    margin-top: -1.5em;
}
