.posts-wrapper {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
}

.posts {
    padding: 3em 1% 0px;
    margin: auto;
    width: 95%;
    color: #485564;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.posts h1 {
    font-size: 4em;
    font-weight: 300;
}

.post {
    background: white;
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.75em;
    padding: 1em 2em 1.5em;
    margin: 1em;
    transition: 0.3s;
    box-shadow: 0 0 0.1em 0.1em #f2f2f2;
    border-radius: 0.5em;
}

.post:hover {
    box-shadow: 0 0 0.1em 0.15em #f0f0f0;
}

.post>h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.75em;
    transition: 0.4s;
}

.post p {
    padding: 1em 1.5em 0;
    font-weight: 300;
    text-align: left;
}

.post>a {
    text-decoration: inherit;
    color: inherit;
}

.post>h2:hover {
    color: #64a2bf;
}

.post>h2>a {
    text-decoration: inherit;
    color: inherit;
}

.post>hr#preview-sep {
    margin: 1em 1em 0;
    color: #48556454;
}

.post>h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-weight: 400;
    margin: 0.2em 0 -0.4em;
}

.post>h3>a {
    text-decoration: inherit;
    color: inherit;
}

.continue-button-wrapper {
    padding: 1.5em 0 0;
    width: 100%;
}

.continue-button {
    text-decoration: inherit;
    color: inherit;
    padding: 0.25em 0.7em;
    border: 1px solid;
    border-radius: 1em;
    transition: 0.3s;
}

.continue-button:hover {
    color: #64a2bf;
    border: 1px solid #64a2bf;
}

.posts-content {
    margin-top: -0.5em;
    padding-top: 1em;
    display: inline-grid;
}

@media (min-width: 0px) {
    .posts-content {
        grid-template-columns: auto;
    }
}

@media (min-width: 576px) {
    .posts-content {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1400px) {
    .posts-content {
        grid-template-columns: auto auto auto;
    }
}
