navbar ul {
    font-family: 'Syne', sans-serif;
    font-size: 1.25em;
    font-weight: 400;

    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

navbar li {
    float: left;
    padding: 0.5em 0 0.6em;
    position: relative;
}

navbar li a {
    color: white;
    text-align: center;
    padding: 0.6em 1em;
    text-decoration: none;
    transition: 0.2s;
}

navbar li a:hover {
    background-color: #222;
}

navbar li a#blog {
    color: #B8F2E6;
}


navbar .navbar-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.1em;
    margin: auto;
    display: inline-block;
    width: 100%;
    background-color: transparent;
    transition: 0.2s;
}

navbar li:hover .navbar-underline {
    background-color: #FAFAFA;
}

.navbar-underline:hover {
    background-color: #FAFAFA;
}
