/* Typography */

html {
    scroll-behavior: smooth;
}

html {
    scrollbar-width: none; /*For Firefox*/
    -ms-overflow-style: none; /*For IE and Edge*/
}

html::-webkit-scrollbar {
    width: 0px; /*For Chrome, Safari and Opera*/
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

.icons-social i {
    font-size: 3em;
}

/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.75em;
    font-weight: 600;
}

main > .tagline {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3rem;
    margin: 1.5rem 0;
    font-weight: 400;
}

.icons-social i {
    padding: 10px;
}

.devto {
    margin-bottom: -0.20rem;
}

.devto svg {
    margin-bottom: -0.20rem;
    margin-left: 0.675rem;;
    width: 2.65rem;
    height: 2.65rem;
}

.projects-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #FAFAFA;
}

.projects {
    padding: 80px 30px;
    margin: auto;
    width: 85%;
    color: #485564;
    text-align: center;
}

.projects h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3.75em;
    padding: 0px 0px 20px;
}

.project {
    font-family: 'Comfortaa', sans-serif;
}

.project h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    padding: 20px 0px 15px;
}

.project > p {
    padding: 10px 0px;
}

.project > ul {
    padding: 10px 0px 0px;
}

ul#skills li {
    display: inline;
    border-radius: 25px;
    background: #b3e5fc;
    padding: 5px 10px;
    transition: 0.3s;
}

ul#skills li:hover {
    background-color: #81d4fa;
}

.about-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #efdcd5;
}

.about-section {
    padding: 80px 30px;
    margin: auto;
    width: 85%;
    color: #485564;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}

.about-section h1 {
    font-size: 3.75em;
    padding: 0px 0px 20px;
    font-weight: 500;

}

.about-section > ul {
    padding: 30px 0px 0px;
}

.about-section p {
    font-family: 'Comfortaa';
    font-weight: 400;
    padding: 10px 0px;
}

.hover-link-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hover-link-container > a {
    color: inherit;
    text-decoration: inherit;
}

.link-img-wrapper {
    margin-top: 1em;
    align-self: center;
    opacity: 0;
    transition: 0.3s
}

.link-img {
    height: 2em;
    width: 2em;
}

.link-wrapper:hover .link-img-wrapper {
    opacity: 0.7;
}

.link-wrapper h1 {
    padding: 0 0.8rem;
}

footer {
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    margin: auto;
    text-align: center;
    width: 100%;

    padding: 0.8%;
    color: #FAFAFA;
    background-color: #333;
}
