/* Typography */

html {
    scroll-behavior: smooth;
}

.projects-content {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

@media (min-width: 576px) {
    html {
        font-size: 14px;
    }
    .projects-content {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .projects-content {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 20px;
    }
    .projects-content {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

.icons-social i {
    font-size: 3em;
}


/* Custom Styles */

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
}

.intro {
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5em;
    font-weight: 300;
}

main>.tagline {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.3rem;
    margin: 1.5rem 0;
    font-weight: 400;
}

.icons-social i {
    padding: 10px;
}

.devto {
    margin-bottom: -0.20rem;
}

.devto svg {
    margin-bottom: -0.20rem;
    margin-left: 0.675rem;
    width: 2.65rem;
    height: 2.65rem;
}

.continue-scroll i {
    font-size: 2em;
    transition: 0.5s ease-in-out;
}

.continue-scroll a {
    color: #aaa;
    transition: 0.3s;
}

.continue-scroll a:hover {
    color: #FFFFFF;
}

.continue-scroll i:hover {
    transform: rotate3d(0, 1, 0, 180deg)
}

.continue-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 0 1em;
}

.continue-scroll-b i {
    font-size: 2em;
    transition: 0.5s ease-in-out;
}

.continue-scroll-b a {
    color: #999;
    transition: 0.3s;
}

.continue-scroll-b a:hover {
    color: #555;
}

.continue-scroll-b i:hover {
    transform: rotate3d(0, 1, 0, 180deg)
}

.continue-scroll-b {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 0 1em;
}



.projects-wrapper {
    min-height: 100vh;
    justify-content: center;
    background: #FAFAFA;
    padding: 3em 2% 3em;
    position: relative;
}

.projects {
    margin: auto;
    width: 95%;
    color: #485564;
    text-align: center;
}

.projects h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 4em;
    padding: 0px 1em 1em;
}

.project {
    font-family: 'Comfortaa', sans-serif;
    display: inline-block;
}

.project h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 2.25em;
}

.project p {
    padding: 1em 0.5em;
    height: 100%;
    font-size: 0.75em;
    font-weight: 300;
}

ul#skills li {
    display: inline;
    border-radius: 25px;
    padding: 0.5em 0.6em 0.4em;
    transition: 0.3s;
    background: #b3e5fc;
    font-size: 0.8em;
}

ul#skills li:hover {
    background: #dbf3ff;
}

.about-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #efdcd5;
}

.about-section {
    padding: 3em 2em 0px;
    margin: auto;
    width: 90%;
    color: #485564;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
}

.about-section h1 {
    font-size: 4em;
    font-weight: 300;
}

.about-section>ul {
    padding: 30px 0px 0px;
}

.about-section p {
    padding-top: 1em;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 0.75em;
}

.hover-link-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 0 0 0em;
}

.hover-link-container>a {
    color: inherit;
    text-decoration: inherit;
}

.project-hover-link-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.project-hover-link-container>a {
    color: inherit;
    text-decoration: inherit;
}

.link-img-wrapper {
    margin-top: 1em;
    align-self: center;
    opacity: 0;
    transition: 0.3s
}

.project-anchor {
    padding-top: 3em;
}

.project-link-img-wrapper {
    margin-top: 0.5em;
    align-self: center;
    opacity: 0;
    transition: 0.3s
}

.link-img {
    height: 2em;
    width: 2em;
}

.project-link-img {
    height: 1.3em;
    width: 1.3em;
}

.link-wrapper:hover .link-img-wrapper {
    opacity: 0.7;
}

.link-wrapper:hover .project-link-img-wrapper {
    opacity: 0.7;
}

.link-wrapper h1, h2 {
    padding: 0 0.2em;
}

footer {
    font-family: 'Comfortaa', sans-serif;
    font-size: 0.6em;
    font-weight: 400;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 1.25em;
    color: #FAFAFA;
    background-color: #333;
}

.projects-content {
    margin-top: 1em;
    /* Prevent vertical gaps */
    /*line-height: 0;*/
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
}

.project {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    background-color: white;
    padding: 1em;
    margin: 1em 0 1em;
    break-inside: avoid;
    transition: 0.3s;
    box-shadow: 0 0 0.1em 0.1em #f2f2f2;
}

.project:hover {
    box-shadow: 0 0 0.1em 0.15em #f0f0f0;
}

.project-src-links {
    font-size: 1em;
    display: inline-block;
    padding: 0.2em 0.5em;
    margin: -0.2em 0 0.5em;
    border-radius: 1em;
    background: #white;
    transition: 0.3s;
    border: 1px solid #ddd;
}

.project-src-links a {
    color: #485564;
}

.project-src-links a svg path{
    fill: #485564;
}

.project-src-links:hover {
    border: 1px solid #ccc;
}

.project:hover .project-src-links {
    background: white;
}

.project>hr#project-sep-top {
    margin: 0.5em 1em 0;
    color: #48556454;
}
