/* Theme */

main {
	background: linear-gradient(-15deg, #B8F2E6 33%, #FAF3DD 33%);
	color: #5E6472;
}

.icons-social a {
	color: #5E6472;
}

.icons-social a svg path{
	fill: #5E6472;
}

a:active, a:focus {
    outline: none;
}
